@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;900&family=Balsamiq+Sans&family=Crete+Round&family=Playfair+Display&family=Roboto:wght@300&family=Rubik&family=Varela&family=Varela+Round&family=Work+Sans:wght@300&display=swap');

.todo-container{
  height:100vh;
  font-family: 'Arima Madurai';
  max-width:1000px;
  margin: auto;
  padding: 1rem;
}
.header{
  text-align: center;
  font-size: 2rem;
  color:white
}
.input{
  margin: auto;
}
.todo-task{
  overflow-wrap: break-word;
  max-width: 420px;
  margin:1rem auto;
  padding: 1%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  position: relative;
  padding-right: 6%;


}
.clear-list{
  text-align: center;
  padding:2rem
}
.clear-list button{
  padding: .6rem 2rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  background-color: black !important;
  color:white;
  border:2px solid white;
  cursor: pointer;
}
.todo-task{
  background-color: #3b4f64;
  border-radius: 10px;
  border:2px solid white
}
.todo-task h3{
  margin: 0;
  color:aliceblue
}
.delete{
  position: absolute;
  right:0;
  top:0;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10rem !important;
}
.btn-close{
  color:white;
  background-color: aliceblue;
}